<div class="container">
  <h2 class="mt-3 mb-3">Owners</h2>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Telephone</th>
        <th scope="col">Pets</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tempOwner of owners">
        <td>
          <a routerLink="/owners/{{ tempOwner.id }}">{{ tempOwner.firstName }} {{ tempOwner.lastName }}</a>
        </td>
        <td>{{ tempOwner.address }}</td>
        <td>{{ tempOwner.city }}</td>
        <td>{{ tempOwner.telephone }}</td>
        <td>
          <tr *ngFor="let pet of tempOwner.pets">
            {{ pet.name }}
          </tr>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button class="btn btn-default bg-dark text-light" (click)="addOwner()">
      Add Owner
    </button>
  </div>
</div>
