<div class="container">
  <h2 class="mt-3 mb-3">Veterinarians</h2>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Specialties</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tempVet of vets">
        <td>{{ tempVet.firstName }} {{ tempVet.lastName }}</td>
        <td>
          <tr *ngFor="let specialty of tempVet.specialties">
            {{ specialty.name }}
          </tr>
        </td>
      </tr>
    </tbody>
  </table>
</div>
